[Unit]
Description=Updating freedns record
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/freedns-update.sh

[Install]
WantedBy=multi-user.target
